<h1>Angular</h1>
<app-directives></app-directives>

<input type="text"
[appInputFormat]="'uppercase'"
/>
<!-- [format]="'uppercase'" -->

<!-- <app-favorite [is-favorite]="post.isFavorite" (change)="onFavChange($event)"></app-favorite>

<app-ng-content>
    <h1 class="headiing">
        lorem
    </h1>
    <p>
        lorem ipsum dolor sit amet, consectetur adip
    </p>
</app-ng-content> -->


<!-- <app-course 
[is-favorite]="post.isFavorite" ></app-course>
<courses></courses> -->
<!-- templates are bundled along with source code after transpilation -->